@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Dancing+Script&family=Great+Vibes&family=Homemade+Apple&family=Parisienne&family=Philosopher&family=Questrial&family=Quicksand:wght@300&family=Space+Mono&family=Square+Peg&family=Uchen&display=swap");

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

body {
  background-color: var(--white);
}

.background {
  position: absolute;
  background-image: url("./img/IMG_3655Copy.jpg");
  top: 0;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  z-index: 0;
}

.pages {
  color: black;
  text-align: center;
}

.pages__container {
  display: flex;
  flex-direction: column;
}

.pages__header {
  width: 100%;
  height: 30vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pages__title {
  font-family: "Homemade Apple", cursive;
  color: white;
  font-size: 50px;
  margin: auto;
}

.pages__body {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10% auto 10% auto;
}

.pages__sectiontitle {
  font-family: "Homemade Apple", cursive;
  font-size: 35px;
  margin-top: 1.5rem;
}

.pages__subtitle {
  font-family: "Uchen", serif;
  font-size: 35px;
}

.pages__infotext,
.pages__text,
.pages__todoitem,
.pages__link {
  text-decoration: none;
  font-size: 20pt;
  font-family: Helvetica;
  color: var(--font-color);
  background: var(--bg-color);
  line-height: 1.6;
  hyphens: auto;
  margin-bottom: 5rem;
}

.pages__link {
  margin: auto;
}

.pages__todoitem {
  margin: auto;
}

.pages__listitem {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 3rem;
}

.pages__divider,
.pages__divider180 {
  margin: auto;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: auto;
}

.pages__divider img,
.pages__divider180 img,
.pages__divider-xs {
  object-fit: cover;
  width: 45%;
  height: 6rem;
  margin: auto;
}
.pages__divider-xs img {
  width: 20%;
}

.pages__divider180 img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pages__subtitle img {
  width: 2%;
}

@media screen and (max-width: 960px) {
  * {
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  body {
    background-color: var(--white);
  }

  .background {
    position: absolute;
    background-image: url("./img/IMG_3655Copy.jpg");
    top: 0;
    background-size: cover;
    height: 40vh;
    width: 100vw;
    z-index: 0;
  }

  .pages {
    color: black;
    text-align: center;
  }

  .pages__container {
    display: flex;
    flex-direction: column;
  }

  .pages__header {
    width: 100%;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .pages__title {
    font-family: "Homemade Apple", cursive;
    color: white;
    font-size: 30px;
    margin: auto;
  }

  .pages__body {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 10% auto 10% auto;
  }

  .pages__sectiontitle {
    font-family: "Homemade Apple", cursive;
    font-size: 19px;
    margin-top: 1.5rem;
  }

  .pages__subtitle {
    font-family: "Uchen", serif;
    font-size: 25px;
  }

  .pages__infotext,
  .pages__text,
  .pages__todoitem,
  .pages__link {
    text-decoration: none;
    font-size: 14pt;
    font-family: Helvetica;
    color: var(--font-color);
    background: var(--bg-color);
    line-height: 1.6;
    hyphens: auto;
    margin-bottom: 2rem;
  }

  .pages__text {
    text-align: justify;
  }

  .pages__link {
    margin: auto;
  }

  .pages__todoitem {
    margin: auto;
  }

  .pages__listitem {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 3rem;
  }

  .pages__divider,
  .pages__divider180 {
    margin: auto;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
  }

  .pages__divider img,
  .pages__divider180 img,
  .pages__divider-xs {
    object-fit: cover;
    width: 70%;
    height: 5rem;
    margin: auto;
  }
  .pages__divider-xs img {
    width: 40%;
  }

  .pages__divider180 img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .pages__subtitle img {
    width: 5%;
  }
}
